.about {
  padding: 6rem 0;
}

.about-header {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 1rem;
  padding: 0 4rem;
}

.about-header h1 {
  width: fit-content;
  font-family: 'Pou';
  font-weight: bold;
  font-size: 54px;
  text-align: center;
  letter-spacing: 1px;
  user-select: none;
  margin: 0 auto 2rem auto;
  color: var(--excel-text-green);
}

.about-header p {
  padding: 1.5rem;
  width: 700px;
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.7px;
  color: #1a1a1a;
}

.about-header img {
  transform: translateY(50px);
  border-radius: 50px;
  width: 95%;
  height: auto;
  max-width: 800px;
  justify-self: center;
}

.flipped-wave-spacer {
  transform: rotate(180deg) translateY(-2rem);
}

.newsletter {
  position: relative;
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #a37a5c;
  padding: 6rem 0 4rem 0;
}

.newsletter h3 {
  font-family: 'Pou';
  font-size: 32px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #f1f1f1;
  font-weight: bold;
}

.newsletter h4 {
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #1a1a1a;
  padding-bottom: 10px;
}

.newsletter p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  color: #f1f1f1;
  font-family: 'Pou';
  font-size: 22px;
  letter-spacing: 0.6px;
}

.newsletter svg {
  transform: translateY(3px);
}

.newsletter input {
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid transparent;
  transition: all 0.4s;
}

.newsletter input:hover,
.newsletter input:focus {
  border: 2px solid var(--excel-light-green);
}

.error input {
  border: 2px solid rgb(219, 18, 18);
}

.newsletter input::placeholder {
  letter-spacing: 0.5px;
  color: var(--excel-dark-green);
}

.error input::placeholder {
  color: rgb(173, 39, 39);
}

.newsletter button {
  padding: 7px 10px 5px 10px;
  font-family: 'Pou';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  background-color: var(--excel-light-green);
  border: 2px solid transparent;
  border-radius: 10px;
  color: #f1f1f1;
  cursor: pointer;
  transition: all 0.4s;
}

.newsletter button:hover {
  border: 2px solid #f1f1f1;
  background-color: transparent;
}

.faq {
  display: grid;
  justify-content: center;
}

.faq h3 {
  text-align: center;
  font-family: 'Pou';
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--excel-text-green);
  text-transform: uppercase;
  padding-bottom: 2rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.question-wrap {
  display: grid;
  justify-self: center;
  background-color: #6d523c;
  width: 500px;
  border-radius: 10px;
  margin: 1rem 0;
}

.question {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}

.question h4 {
  text-align: center;
  color: var(--excel-text-green);
  font-family: 'Pou';
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.question svg {
  transform: translateY(3px);
  transition: all 0.6s;
}

.question:hover svg,
.active svg {
  transform: translateY(3px) rotate(90deg);
}

.answer {
  background-color: #6d523c;
  width: 500px;
  padding: 0rem 2rem 1.5rem 2rem;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

.answer p {
  color: #f1f1f1;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.6px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .flipped-wave-spacer {
    transform: rotate(180deg) translateY(-5px);
  }

  .wave-spacer {
    transform: translateY(-2px);
  }

  .about-header {
    padding: 0 1rem 3rem 1rem;
    column-gap: 0;
  }

  .about-header p {
    width: 90%;
    padding: 0;
  }

  .about-header {
    grid-template-columns: repeat(1, 1fr);
  }

  .newsletter h3 {
    font-size: 28px;
  }

  .newsletter p {
    width: 90%;
    margin: 0 auto;
  }

  .question-wrap,
  .answer {
    width: 95%;
  }

  .answer {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }

  .question h4 {
    font-size: 24px;
  }
}
