.kurs-header {
  padding: 4rem;
  height: 60vh;
  text-align: center;
}

.kurs-header h1 {
  font-size: 66px;
  padding-top: 2.5rem;
  font-family: 'Pou';
  letter-spacing: 1px;
  font-weight: bold;
  user-select: none;
  color: var(--excel-green);
}

.kurs-header h2 {
  font-size: 34px;
  width: 70%;
  margin: 0 auto;
  letter-spacing: 0.5px;
  line-height: 38px;
  font-weight: bold;
  color: var(--excel-dark-green);
  user-select: none;
  font-family: 'Pou';
}

.container {
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 4rem auto;
  border-radius: 30px;
  overflow: hidden;
  color: rgb(20, 66, 42);
  background: var(--excel-green);
  background: linear-gradient(0.32deg, var(--excel-green) 0%, #33c481 100%);
}

.container img {
  width: 100%;
  height: auto;
}

.container-text h3 {
  text-align: center;
  font-family: 'Pou';
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.5px;
  margin: 1.5rem 0 10px 0;
}

.container-text p {
  padding: 0 2rem;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.zapis {
  padding: 4rem;
  background-color: var(--excel-light-green);
  text-align: center;
}

.zapis h4 {
  font-size: 44px;
  font-family: 'Pou';
  letter-spacing: 1px;
  line-height: 48px;
  margin-bottom: 20px;
}

.szkolenia-link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-family: 'pou';
  font-weight: bold;
  font-size: 30px;
  transition: all 0.4s;
  position: relative;
}

.szkolenia-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  transition: all 0.4s;
}

.szkolenia-link:hover::before {
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  .kurs-header {
    padding: 4rem 2rem;
  }

  .kurs-header h2 {
    width: 90%;
  }

  .container {
    margin-top: 0;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }

  .container p {
    padding-bottom: 25px;
  }

  .zapis {
    padding: 4rem 2rem;
    transform: translateY(2px);
  }
}
