.header {
  position: relative;
}

.spacer {
  height: 8rem;
  background-color: var(--excel-light-green);
}

.text {
  display: grid;
  justify-content: center;
  position: absolute;
  top: 20%;
  text-align: center;
  width: 100%;
}

.text h1 {
  font-size: 44px;
  color: var(--white-text);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 50px;
  user-select: none;
  margin-bottom: 10px;
}

.text a {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: fit-content;
}

.three-boxes {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  place-self: center;
  width: fit-content;
}

.container h3 {
  color: var(--white-text);
  font-size: 22px;
  letter-spacing: 0.6px;
}

.expierience {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  position: relative;
  justify-self: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.border-del::before {
  width: 0;
}

.first-count,
.second-count,
.third-count {
  color: white;
  font-size: 44px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: --num 3s;
  counter-set: num var(--num);
  font-size: 40px;
  font-family: "Pou";
  font-weight: bold;
  user-select: none;
}

.active .first-count {
  --num: 10;
}

.active .second-count {
  --num: 120;
}

.active .third-count {
  --num: 1500;
}

.first-count::after,
.second-count::after,
.third-count::after {
  content: counter(num) '+';
}

.container p {
  color: #bbffdf;
  font-size: 22px;
  letter-spacing: 0.7px;
}

@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
