.footer {
  background-color: var(--excel-light-green);
  padding: 2rem 4rem;
}

.boxes {
  grid-template-columns: 25% 25% 50%;
  padding-bottom: 1rem;
}

.newsletter {
  justify-self: center;
}

.container h2,
.newsletter h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Pou';
  letter-spacing: 0.7px;
  color: var(--excel-dark-green);
  user-select: none;
  padding-bottom: 12px;
}

.newsletter h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}

.newsletter input {
  border-radius: 5px;
  height: 27px;
  padding: 6px;
}

.newsletter button {
  padding: 5px 15px;
  text-transform: uppercase;
  font-family: 'Pou';
  letter-spacing: 0.6px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--excel-dark-green);
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}

.newsletter button:hover {
  background-color: transparent;
  color: var(--excel-dark-green);
  border: 1px solid var(--excel-dark-green);
}

.mail,
.location {
  position: relative;
  margin-bottom: 10px;
  line-height: 17px;
}

.location p {
  color: #fff;
  margin-left: 32px;
}

.pin-container {
  display: block;
  width: 32px;
}

.pin-container svg {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

.mail svg {
  transform: translateY(7px);
  margin-right: 5px;
}

.mail a {
  text-decoration: underline;
  color: #fff;
}

.link {
  color: #fff;
  padding-bottom: 3px;
  font-size: 20px;
  width: fit-content;
  letter-spacing: 0.5px;
}

.link svg {
  transform: translateY(3px);
}

.copyright {
  position: relative;
  padding-top: 10px;
}

.copyright hr {
  height: 0px;
  background-color: var(--white-text);
  border: 1px solid var(--white-text);
}

.copyright p {
  font-size: 16px;
  color: #fff;
}

.copyright svg {
  transform: translateY(2px);
}

@media screen and (max-width: 900px) {
  .footer {
    background-color: var(--excel-light-green);
    padding: 2 4rem;
    padding-bottom: 2rem;
  }

  .container {
    padding-bottom: 1rem;
  }

  .boxes {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 0rem;
  }

  .newsletter h3,
  .newsletter h2 {
    text-align: center;
  }

  .newsletter input {
    margin-bottom: 10px;
  }

  .newsletter form {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .newsletter button {
    padding: 8px 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
