.nav {
  background-color: var(--excel-light-green);
  padding: 2rem 3rem;
  grid-template-columns: 25% 50% 25%;
}

.logo {
  align-self: center;
}

.logo a {
  color: #fff;
  font-family: 'Pou';
  font-size: 44px;
  font-weight: bold;
}

.navbar {
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  align-content: center;
  column-gap: 50px;
  text-align: center;
}

.link {
  color: var(--white-text);
  font-size: 28px;
  letter-spacing: 0.7px;
  transition: all 0.4s;
  font-family: 'Pou';
  align-self: center;
}

.link:hover {
  color: white;
}

.button-oferta {
  background-color: var(--main-brown);
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: all 0.6s;
  font-family: 'Pou';
}

.button-oferta:hover {
  background-color: var(--white-text);
  border: 2px solid var(--main-brown);
}

.oferta-link {
  color: var(--white-text);
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
  align-self: center;
  text-align: center;
  justify-self: right;
}

.oferta-link:hover {
  color: var(--main-brown);
}

.nav-800 {
  display: none;
}

@media screen and (max-width: 1050px) {
  .nav {
    display: none !important;
  }

  .nav-800 {
    display: grid;
    background-color: var(--excel-light-green);
    padding: 2rem;
    position: relative;
  }

  .logo-800 a {
    color: white;
    font-family: 'Pou';
    font-size: 40px;
    font-weight: bold;
  }

  .hamburger-menu {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 20;
    cursor: pointer;
  }

  .menu-800 {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgb(27, 81, 45);
    background: linear-gradient(
      0.32deg,
      rgba(27, 116, 68, 1) 0%,
      rgba(33, 163, 102, 1) 100%
    );
    text-align: center;
    z-index: 10;
  }

  .link-800 {
    font-family: 'Pou';
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(20, 66, 42);
    letter-spacing: 1px;
    z-index: 30;
  }

  .wave-800 {
    z-index: 21;
    position: absolute;
    bottom: -84vh;
  }

   .test {
    color: #fff !important;
  }
}
